extends layout  

block content
  div(class="container")  
    p Welcome to BPM
   
  div(class="row")
   div(class="col-lg-12" id="recorder")
   if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
   if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    h2 huizel
    span & 
    button(class="playSound" id="play-btn") Play Sound
    button(class="playSound" id="stop-btn") Stop Sound

    div(class="col-lg-2 col-md-2")
     input(type="range" onchange="volumeUpDown(this.value)" value="0" id="volume-control" defaultValue="50" min="0" max="100" style="width:30%;")
    h3 gretel
   div
    canvas(id="canvas-ctx" width="500" height="500") 
