doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.0/Pizzicato.min.js')
  //- script(src='https://cdn.WebRTC-Experiment.com/RecordRTC.js')
  script(src='https://unpkg.com/media-recorder-js/mediaRecorder.js')  
  script(src='javascripts/recorder.js')
  script(src='javascripts/manipulator.js')  
  script.

